
<header>
    <section class="menu bg-corporate-normal text-neutral-light py-4">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between">
                <img class="logo" src="../assets/img/atlantis-logo-white.png" alt="Logo" width="240" />
                <div class="d-flex align-items-center justify-content-end gap-8">
                    <div class="menu">
                        Menú
                    </div>
                    <div class="user-logged">
                        Logged user
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container my-5"><app-breadcrumb /></section>
</header>

<section class="container">
    <router-outlet />
</section>

<footer></footer>
